.forgot-password-container {
    background-color: rgba(179, 179, 179, 0.312); /* Fondo semi-transparente */
    border-radius: 20px;
    padding: 20px;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    width: 95%;
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #0666a5;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    justify-content: center;
    margin: auto;
    height: 50px;
}

.btn-primary:hover {
    background-color: #0400ff;
}

.text-center {
    text-align: center;
}

.login-form-container {
    position: relative; /* Para establecer un contexto de posicionamiento */
}

.image-overlay {
    position: absolute; /* Para posicionar la imagen de forma absoluta */
    top: 50; /* Colocar la imagen en la parte superior */
    left: 0; /* Colocar la imagen en la parte izquierda */
    width: 100%; /* Ajustar el ancho al 100% del contenedor */
    height: 100%; /* Ajustar la altura al 100% del contenedor */
    /* Colocar la imagen detrás del contenido */
}

.image-overlay img {
    width: 100%; /* Ajustar el ancho al 100% del contenedor */
    height: 100%; /* Ajustar la altura al 100% del contenedor */
   /* Para que la imagen cubra todo el contenedor */
}
